---
layout: zh.liquid
---
<section id="hero">
  {% include './components/post-hero', tag: tags[0] %}
  
  <div class="content">
    <h1>{{ title }}</h1>
  </div>
</section>
<div class="container">
  <div class="post-info">
    <a href="/archives/1/" class="btn">查看所有文章</a>
    <div class="date font-size-xs">{{ date | date: "%Y-%m-%d" }}</div>
    <ul class="tags">
      {%- for tag in tags -%}
      <li>
        <a href="/tags/{{ tag }}/" class="btn-tag">{{ tag }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="wrapper">
    {{ content | safe }}
  </div>

  <div class="switch-posts">
    {% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
    {% assign nextPost = collections.posts | getNextCollectionItem: page %}
    {% if nextPost %}
    <div class="item">
      <div class="lable">上一篇: </div>
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </div>
    {% endif %}
    {% if previousPost %}
    <div class="item">
      <div class="lable">下一篇: </div>
      <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    </div>
    {% endif %}
  </div>

</div>