---
layout: zh.liquid
pageSlug: paged-array
pagination:
  data: testdata
  size: 5
testdata:
- item1
- item2
- item3
- item4
- item5
- item6
- item7
- item8
- item9
permalink: "paged-array/{{ pagination.pageNumber | plus: 1 }}/index.html"
---
<section id="single-page">
  <section id="hero">
    <div class="divimg">
      <picture>
        <source srcset="{{ baseURL | url }}/assets/img/1.webp">
        <source srcset="{{ baseURL | url }}/assets/img/1.jpg">
        <img src="{{ baseURL | url }}/assets/img/1.jpg">
      </picture>
    </div>
    <div class="content">
      <h1>关于</h1>
    </div>
  </section>
  
  <section class="container">
    <div class="content-block">
      {{ pagination.pages[pagination.pageNumber] }}
      <br/>
      <div class="pagination">
        <ul>  
          <li>
            {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}">First</a>
            {% else %}
            <span>First</span>
            {% endif  %}
          </li>
          <li>
            {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}"><i class="iconfont icon-prev" aria-hidden="true"></i></a>
            {% else %}
            <span><i class="iconfont icon-prev" aria-hidden="true"></i></span>
            {% endif %}
          </li>
          <li>
            {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}"><i class="iconfont icon-next" aria-hidden="true"></i></a>
            {% else %}
            <span><i class="iconfont icon-next" aria-hidden="true"></i></span>
            {% endif %}
          </li>
          
          <li>
            {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}">Last</a>
            {% else %}
            <span>Last</span>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>