---
layout: zh.liquid
pageSlug: paged-array
pagination:
  data: testdata
  size: 5
testdata:
- item1
- item2
- item3
- item4
- item5
- item6
- item7
- item8
- item9
permalink: "paged-array/{{ pagination.pageNumber | plus: 1 }}/index.html"
---
<section id="single-page">
  <section id="hero">
    <div class="divimg" style="background: linear-gradient(121.28deg, #000000 0%, #FFFFFF 100%), linear-gradient(121.28deg, #FFB800 0%, #FFFFFF 100%), linear-gradient(140.54deg, #7000FF 0%, #001AFF 72.37%), linear-gradient(307.43deg, #FFE927 0%, #00114D 100%), radial-gradient(107% 142.8% at 15.71% 104.5%, #FFFFFF 0%, #A7AA00 100%), radial-gradient(100.22% 100% at 70.57% 0%, #7A3B00 0%, #1DAC92 100%); background-blend-mode: difference, soft-light, difference, difference, difference, exclusion;"></div>
    <div class="content">
      <h1>关于</h1>
    </div>
  </section>
  
  <section class="container">
    <div class="content-block">
      {{ pagination.pages[pagination.pageNumber] }}
      <br/>
      <div class="pagination">
        <ul>  
          <li>
            {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}">First</a>
            {% else %}
            <span>First</span>
            {% endif  %}
          </li>
          <li>
            {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}"><i class="iconfont icon-prev" aria-hidden="true"></i></a>
            {% else %}
            <span><i class="iconfont icon-prev" aria-hidden="true"></i></span>
            {% endif %}
          </li>
          <li>
            {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}"><i class="iconfont icon-next" aria-hidden="true"></i></a>
            {% else %}
            <span><i class="iconfont icon-next" aria-hidden="true"></i></span>
            {% endif %}
          </li>
          
          <li>
            {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}">Last</a>
            {% else %}
            <span>Last</span>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>