---
layout: zh.liquid
pageSectionID: single-tag
pageDescription: Single tag pages description
permalink: /tags/{{ tag | slug }}/
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: 分类 - {{ tag }}
---
<section id="hero">
  <div class="divimg">
    <picture>
      <source srcset="{{ baseURL | url }}/assets/img/2.webp">
      <source srcset="{{ baseURL | url }}/assets/img/2.jpg">
      <img src="{{ baseURL | url }}/assets/img/2.jpg">
    </picture>
  </div>
  <div class="content">
    <h1>分类 - {{ tag }}</h1>
  </div>
</section>
<section class="container">
  <div class="see-all-tags">See <a href="{{ '/tags/' | url }}">all tags</a>.</div>

  {% assign postsList = collections[tag] | reversePosts %}
  {% include './components/postsList' %}
</section>
