---
layout: zh.liquid
pageSlug: single-tag
pageDescription: Single tag pages description
permalink: /tags/{{ tag | slug }}/
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: 分类 - {{ tag }}
---
<section id="hero">
  <div class="divimg {{ tag | slug }}"></div>
  <div class="content">
    <h1>分类 - {{ tag }}</h1>
  </div>
</section>
<section class="container">
  <section class="container-left">
    <div class="see-all-tags">See <a href="{{ '/tags/' | url }}">all tags</a>.</div>
    {% include './components/postsList', postsList: collections[tag] | reversePosts %}  
  </section>
  {% include './components/nav-right' %}
</section>
