
<header>
  <nav>
    <div class="toggle-menu">
      <span class="menu-line"></span>      
      <span class="menu-line"></span>      
      <span class="menu-line"></span>      
    </div>
    <div class="menus-container">
      <div class="wrapper">
        <div class="close-menus">
          <div></div>
          <div></div>
        </div>
        <ul>
          {% if lang == 'en' %}
          {% assign menusObj = menus.en %}
          {% else %}
          {% assign menusObj = menus.zh %}
          {% endif %}
    
          {% for item in menusObj %}
          <li>
            <a href="{{ item.path }}">
              {% comment %}<i class="iconfont {{ item.iconName }}" aria-hidden="true"></i>{% endcomment %}
              <div class="lable">{{ item.title }}</div>
            </a>
            {% comment %} {% if item.path == "/tags/" %}
            <ul class="sub-menu">
              {% for tag in collections.tagList %}
              <li>              
                <a href="/tags/{{ tag | slug }}/">              
                  <div class="lable">{{ tag }}</div>
                </a>
              </li>      
              {% endfor %}
            </ul>
            {% endif %} {% endcomment %}
    
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a class="logo" href="{% if lang == 'zh' %}{{ baseURL | url }}/{% else %}{{ baseURL | url }}/{{ lang }}/{% endif %}">
      <img src="{{ baseURL | url }}/assets/img/icons/favicon.png" alt="Logo">
    </a>
    <div id="language-switcher">
      <div class="current-language">
        {% comment %} <i class="iconfont icon-english {% if lang == 'en' %}active{% endif %}" aria-hidden="true"></i> {% endcomment %}
        <i class="iconfont icon-zh {% if lang == 'zh' %}active{% endif %}" aria-hidden="true"></i>
      </div>
      {% comment %} <div class="select-language">   
        <ul>
          <li class="{% if lang == 'zh' %}active{% endif %}">
            <a href="{{ baseURL | url }}/en/{{ page.url | url | remove_first: '/' | remove: lang }}"
            hreflang='en'><i class="iconfont icon-english" aria-hidden="true"></i></a>
          </li>
          <li class="{% if lang == 'en' %}active{% endif %}">
            <a href="{{ baseURL | url }}{{ page.url | url | remove_first: '/' | remove: lang }}"
            hreflang='zh'><i class="iconfont icon-zh" aria-hidden="true"></i></a>
          </li>
        </ul>   
      </div> {% endcomment %}
    </div>
  </nav>
</header>