<!DOCTYPE html>
<html lang="{{ lang }}" data-theme="light" data-origin="{{ baseURL | url }}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{{ baseURL | url }}/assets/img/icons/favicon.png" sizes="128x128">
    <link rel="preload" href="//at.alicdn.com/t/c/font_2922698_9pj5wqw6kw5.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_2922698_9pj5wqw6kw5.css">
    {% if pageSlug != "hero-kids" %}
    <link rel="stylesheet" href="{{ baseURL | url }}/assets/css/style.css" media="all"/>
    {% endif %}
    
    {% if cssFiles %}
			{% for name in cssFiles %}
				<link rel="stylesheet" href="{{ baseURL | url }}/assets/css/{{ name }}.css" media="all" />
			{% endfor %}
		{% endif %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta property="og:locale" content="{{ lang }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="{{ siteName }}"/>
    <meta property="og:description" content="{{ pageDescription }}"/>
    <meta property="og:url" content="{{ baseURL | url }}{{ page.url | url }}"/>
    <meta property="og:image" content="{{ baseURL | url }}/assets/img/icons/favicon.png">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@IrisZhu">
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>
    <meta name="twitter:image" content="{{ baseURL | url }}/assets/img/icons/favicon.png">

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d013155126dadf8457e34005b9c2d3a3";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

  </head>
  <body class="{{ lang }}"></body>
</html>