
  {% if pageSlug == "homepage" %}
  <script src="https://cdn.staticfile.org/echarts/4.7.0/echarts.min.js"></script>
  {% endif %}
  <script src="{{ baseURL | url }}/assets/js/wow.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/jquery-3.4.1.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/master.js"></script>
  {% if pageSlug == "loading" %}
  <script src="{{ baseURL | url }}/assets/js/loading.js"></script>
  {% endif %}
  {% if pageSlug == "gsap" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"> defer></script>
  <script src="{{ baseURL | url }}/assets/js/demo/gsap-main.js"></script>
  {% endif %}
  {% if pageSlug == "search" %}  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
  <script src="{{ baseURL | url }}/assets/js/search.js"></script>
  {% endif %}

</body>
</html>